@media(max-width: 1350px) {
    div.hero-background-pos {
        left: 80%;
        width: 120px;
        height: 120px;
    }
}

@media (max-width: 1100px) {
    div.hero-background-pos {
        width: 100px;
        height: 100px;
        left: 78%;
    }
}

@media (max-width: 850px) {
    div.menu {
        display: flex;
    }
    div.hero-background-pos {
        display: none;
    }
    ul.sm-hide {
        display: none;
    }
    div.hero-section {
        padding: 2rem;
        width: 100%;
        min-height: calc(100vh - 100px);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    div.nav-bar {
        padding: 1rem 2.5rem;
    }
    div.hero-background {
        padding: 5rem;
    }
    div.background h4,
    div.background p {
        padding: 0.4rem;
    }
    input[type="text"],
    input[type="email"],
    textarea {
        width: 100%;
        margin: 0.5rem 0;
    }
    div.footer-input {
        flex-wrap: wrap;
    }
    div.footer-btn a {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

@media (max-width:450px) {
    div.hero-background {
        padding: 2rem;
    }
}