        body {
            width: 100%;
        }
        
        div.snapshot-box-content {
            flex-wrap: wrap;
            justify-content: space-around;
        }
        
        div.background {
            height: auto;
            width: 95%;
            padding: 40px;
            padding-right: 60px;
        }
        
        div.hero-background-pos {
            left: 82%;
        }
        
        div.background h4 {
            padding-top: 0;
        }
        
        div.background p {
            line-height: 1.4rem;
        }
        
        div.menu {
            display: none;
            width: 40px;
            justify-content: center;
            min-height: 2px;
            align-items: flex-end;
            flex-direction: column;
        }
        
        .menu div {
            background-color: #bcc3c7;
            width: 40px;
            height: 1px;
            margin: 3.5px 0;
        }
        
        .menu div:nth-child(2) {
            width: 30px;
        }
        
        .menu div:nth-child(3) {
            width: 20px;
        }
        
        @media(max-width:1350px) {
            div.hero-background-pos {
                left: 80%;
                width: 120px;
                height: 120px;
            }
        }
        
        @media (max-width: 1100px) {
            div.hero-background-pos {
                width: 100px;
                height: 100px;
                left: 78%;
            }
        }
        
        @media (max-width: 850px) {
            div.menu {
                display: flex;
            }
            div.hero-background-pos {
                display: none;
            }
            ul.sm-hide {
                display: none;
            }
            div.hero-section {
                padding: 2rem;
                width: 100%;
                min-height: calc(100vh - 100px);
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }
            div.nav-bar {
                padding: 1rem 2.5rem;
            }
            div.hero-background {
                padding: 5rem;
            }
            div.background h4,
            div.background p {
                padding: 0.4rem;
            }
            input[type="text"],
            input[type="email"],
            textarea {
                width: 100%;
                margin: 0.5rem 0;
            }
            div.footer-input {
                flex-wrap: wrap;
            }
            div.footer-btn a {
                width: 100%;
                display: flex;
                justify-content: center;
            }
        }
        
        @media (max-width:450px) {
            div.hero-background {
                padding: 2rem;
            }
        }